* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    min-height: 100vh;
}

header {
    position: fixed;
    width: 100%;
    top: 0%;
    left: 0%;
    z-index: 100;
    background-color: bisque;
}

.cart {
    position: fixed;
    top: 0%;
    right: -100%;
    min-height: 100vh;
    padding: 20px;
    width: 360px;
    background-color: aliceblue;
    transition: 0.5s all ease-in-out;
}

.cart.active {
    right: 0;
}



.cart-title {
    color: black;
    text-align: center;
    font-weight: 200;

}

.cart-close {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 2.5rem;
    cursor: pointer;

}

.cart-box {
    display: grid;
    grid-template-columns: 42% 50% 18%;
    align-items: center;
    justify-content: space-between;

}

.detail-box {
    display: grid;
    justify-content: flex-start;
    row-gap: 0.5rem;
}

.cart-price {
    font-weight: 1000;
}

.cart-quantity {
    border: 1px solid grey;
    width: 2.3rem;
    text-align: center;
}

.cart-button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.total-title {
    margin-right: 10px;
}


.btn-buy {
    position: relative;
    margin-bottom: 5px;
    border: 1px solid grey;
    padding: 5px 40px;
    border-radius: 10px;
    cursor: pointer;
    transform: translateZ(0);
    transition: transform 0.2s ease-in-out;
}

.btn-buy:hover {
    transform: perspective(100px) translateZ(10px);
}


.total {
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
    border-top: 1px solid black;

}

.cart-remove {
    cursor: pointer;
    font-size: 1.5rem;

}

.cart-remove:hover {
    color: red;
}




.container {
    align-items: center;
    display: flex;
    justify-content: space-between;


}

a {
    font-size: 2rem;
    padding: 20px 60px;
}

.cart-icon {
    font-size: 2.5rem;
    padding: 20px 80px;
    cursor: pointer;
}

.cart-icon.highlight {
    color: rebeccapurple;
}

.shop-container {
    margin-top: 80px;
    text-align: center;
    gap: 1.5rem;



}

h2 {
    font-size: 2rem;
}

img {
    width: 40%
}

.shop-content {
    margin-top: 5px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    background-color: white;
}

.product-box {
    position: relative;
    margin-left: 10px;

}

.product-box:hover {
    padding: 1px;
    border: 1px solid grey;
    transition: 0.2s;

}

img {
    margin-top: 30px;
    margin-bottom: 10px;


}

.product-title {
    margin-bottom: 10px;
}

.price {
    font-size: 2rem;
    font-weight: 200;
    margin-bottom: 40px;
}

.add-cart {
    position: absolute;
    font-size: 2rem;
    bottom: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
    background-color: black;
    color: white;
}

.add-cart:hover {
    background: green;
}